html {
    background-image: url('../graphics/zoomNOKEY.svg');
    /* background-image: url('../graphics/zoomNOKEY.svg'); */

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
#startImg {
 
  width: 100%;

 } 
